{% extends 'base.html' %}

{% block title %}Data Scraping{% endblock %}

{% block searchcontent %}

<div class="container mt-5">
    <h2>Select a URL to Scrape</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="url">Select URL</label>
                    <select required class="form-control" id="url" name="url">
                        <option value="">-----</option>
                        {% for urlss in url %}
                        <option value="{{ urlss.url }}">{{ urlss.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="max_pages">Max Pages</label>
                    <select required class="form-control" id="max_pages" name="max_pages">
                        <option value="">-----</option>
                        <option value="1">1</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="category">Category</label>
                    <select required class="form-control" id="category" name="category">
                        <option value="">-----</option>
                        {% for category in category %}
                        <option value="{{category.slug}}">{{category.name}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}

