{% extends 'base.html' %}

{% block title %}Data Scraping{% endblock %}

{% block searchcontent %}
<div class="container mt-5">

        <h2>Notice Board</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Notice Title</th>
                    <th>Short Description</th>
                </tr>
            </thead>
            <tbody>
                {% for notice in notices %}
                <tr>
                    <td>{{ notice.title }}</td>
                    <td>{{ notice.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    
    <form id="scrapeForm" method="POST" action="{% url 'start_scraping' %}">
        {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="url">Select URL</label>
                    <select required class="form-control" id="url" name="url" onchange="this.form.submit()">
                        <option value="">-----</option>
                        {% for urlss in urls %}
                        <option value="{{ urlss.id }}" {% if selected_url and urlss.id == selected_url.id %}selected{% endif %}>
                            {{ urlss.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="max_pages">Max Pages</label>
                    <select required class="form-control" id="max_pages" name="max_pages">
                        <option value="">-----</option>
                        <option value="1">1</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="category">Category</label>
                    <select required class="form-control" id="category" name="category">
                        <option value="">-----</option>
                        {% for category in categories %}
                        <option value="{{ category.slug }}" {% if category_slug == category.slug %}selected{% endif %}>
                            {{ category.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
    </form>

    <!-- Linear Progress Bar and Percentage Display -->
    <div class="progress" id="progressBarContainer" style="display: none; margin-top: 20px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" id="progressBar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        <span id="progressPercentage" style="position: absolute; color: rgb(255, 255, 255); top: 16px; margin-left: -18px;">0%</span>
        <div class="dog" id="dog" style="position: absolute; top: 10px; font-size: 20px; transition: transform 0.1s linear;">😽</div>
    </div>
    <div id="resultCard" class="card mt-3" style="display: none;">
        <div class="card-body">
            <h5 class="card-title">Job Scraping Results</h5>
            <p class="card-text" id="scrapingResult"></p>
        </div>
    </div>
    
</div>

<style>
.progress {
    height: 30px; 
    background-color: #000000; 
    border-radius: 5px;
    position: relative;
    top: 0px;
}

.progress-bar {
    height: 100%;
    transition: width 0.4s; 
}

.dog {
    position: absolute;
    bottom: -30px; 
    left: 0; 
    font-size: 20px;
    transition: transform 0.1s ;
}
</style>
<script>
    document.getElementById('scrapeForm').addEventListener('submit', function (event) {
        event.preventDefault(); 

        const formData = new FormData(this); 
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const progressBarContainer = document.getElementById('progressBarContainer');
        const progressBar = document.getElementById('progressBar');
        const progressPercentage = document.getElementById('progressPercentage');
        const dog = document.getElementById('dog');
        progressBarContainer.style.display = 'block';

        // Reset the progress bar
        progressBar.style.width = '0%';
        progressBar.setAttribute('aria-valuenow', 0);
        progressPercentage.innerText = '0%';
        dog.style.transform = 'translateX(0)';

        // Start progress bar animation
        let progress = 0;
        const interval = setInterval(() => {
            progress += 100 / (120);
            progressBar.style.width = progress + '%';
            progressBar.setAttribute('aria-valuenow', progress);
            progressPercentage.innerText = Math.round(progress) + '%';
            
            dog.style.left = `${progress}%`;
            progressPercentage.style.left = `${progress}%`;
            if (progress >= 100) {
                clearInterval(interval);
                dog.style.display = 'none'; 
                // hide the dog emoji
            }
        }, 1000); 
        // Send scraping request using fetch
        fetch('{% url "start_scraping" %}', {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken 
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            clearInterval(interval);
            progressBar.style.width = '100%';
            progressBar.setAttribute('aria-valuenow', 5000);
            progressPercentage.innerText = '100%';
            setTimeout(() => {
                progressBarContainer.style.display = 'none';
            }, 500);
            const resultCard = document.getElementById('resultCard');
            const scrapingResult = document.getElementById('scrapingResult');

            if (data.is_success) {
                scrapingResult.innerHTML = `<div class="alert alert-success">Total Jobs Found: ${data.total_jobs_found} <br> Total Jobs Saved: ${data.total_stored} <br> Total Skiped Jobs: ${data.total_skipped_jobs}</div>`;
            } else {
                scrapingResult.innerHTML = `<div class="alert alert-danger">Scrape Failed! ${data.total_skipped_jobs}</div>`;
            }

            resultCard.style.display = 'block'; 
        })
        .catch(error => {
            clearInterval(interval); 
            progressBarContainer.style.display = 'none';
            document.getElementById('scrapingResult').innerHTML = '<div class="alert alert-danger">An error occurred during scraping.</div>';
            document.getElementById('resultCard').style.display = 'block'; 
            console.error('Error:', error);
        });
    });
</script>
{% endblock %}
