{% extends 'base.html' %}

{% block title %}Data Scraping{% endblock %}

{% block searchcontent %}

<div class="container mt-5">
    <h2>Select a URL to Scrape</h2>
    <h2>my name is {{request.user}}</h2>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="url">Select URL</label>
                    <select required class="form-control" id="url" name="url" onchange="this.form.submit()">
                        <option value="">-----</option>
                        {% for urlss in urls %}
                        <option value="{{ urlss.id }}" {% if selected_url and urlss.id == selected_url.id %}selected{% endif %}>
                            {{ urlss.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="max_pages">Max Pages</label>
                    <select class="form-control" id="max_pages" name="max_pages">
                        <option value="">-----</option>
                        <option value="1">1</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="category">Category</label>
                    <select class="form-control" id="category" name="category">
                        <option value="">-----</option>
                        {% for category in categories %}
                        <option value="{{ category.slug }}" {% if category_slug == category.slug %}selected{% endif %}>
                            {{ category.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}

