<div class="grid">
    <div class="type">
    <div class="PRO"></div>
    </div>
    <div class="like"><a attr-id="653199" class="js-like" href="javascript:void(0)"></a></div>
    <div class="main">
    <div class="inf" id="inf653199">Добавено в Избрани</div>
    <div class="title" id="t653199"><a href="https://www.zaplata.bg/administrativni-deynosti/sofia/653199/satrudnik-obsluzhvane-na-onlayn-magazin-v-ofis/">Сътрудник обслужване на онлайн магазин в офис</a></div>
    <div class="salary"><img src="/img/logo-black.svg"/>от <strong> 2060 </strong> до <strong> 2190 лв.</strong> бруто</div>
    <div class="city">
    <strong>гр.София</strong> / 02 Октомври
    </div>
    </div>
    <div class="logo">
    <a href="https://www.zaplata.bg/tsentar-za-choveshki-resursi-fortuna-md/" title="Виж всички обяви на работодателя">
    <img alt="ЦЕНТЪР ЗА ЧОВЕШКИ РЕСУРСИ ФОРТУНА-МД ЕООД" src="https://cdn3.focus.bg/zaplata/img/companylogo/small/1556784949fnuxzi.jpeg" title="ЦЕНТЪР ЗА ЧОВЕШКИ РЕСУРСИ ФОРТУНА-МД ЕООД — Zaplata.bg"/>
    </a>
    <div class="company">
    <a href="https://www.zaplata.bg/tsentar-za-choveshki-resursi-fortuna-md/">ЦЕНТЪР ЗА ЧОВЕШКИ РЕСУРСИ ФОРТУНА-МД ЕООД</a>
    </div>
    </div>
    </div>